/* Main layout */
.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Initial state (before any messages) */
.no-messages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.initial-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-container {
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ionic-logo {
  font-size: 80px;
  color: #3880ff;
  margin-bottom: 10px;
}

.logo-text {
  text-align: center;
  font-weight: bold;
}

/* Chat state (after messages exist) */
.has-messages {
  padding: 10px;
  background-color: #f8f8f8;
}

.messages-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 70px; /* Add space for the input at the bottom */
}

.message-input-container{
  display: flex;
  align-items: center;
  border-radius: 24px;
  background-color: #f4f5f845;
  padding: 4px 8px;
  width: 100%;
}